@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:900|Roboto:500,700&display=swap&subset=japanese');
body{
  background-color: white;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/* ヘッダー */
header {
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.15);
  position: relative;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
}
.logo{
  float: left;
  font-family: 'Noto Sans JP';
  font-size: 33px;
  position: relative;
  top: 16px;
  left: 30px;
  color: #272525;
}
.menu{
  text-align: right;
  position: relative;
  top: 31.5px;
  right: 44.5px;
}



/* 本体 */
.profile{
  position: relative;
  height: 100%;
  width: 100%;
  top: 10px;
}
.Hello{
  font-size: 100px;
  font-family: 'Noto Sans JP';
  position: relative;
  top: 80px;
  left: 92px;
  color: #272525;
}
.Face{
  float: right;
  position: relative;
  right: 150px;
  bottom: 30px;
}
.Profession{
  position: relative;
  top: 100px;
  left: 97px;
  font-size: 42px;
  font-family: 'YuGothic';
  font-weight: Medium;
  color: #272525;
}
.Self-intro{
  position: relative;
  top: 135px;
  left: 99px;
  font-size: 25px;
  font-family: 'YuGothic';
  font-weight: Medium;
  color: #272525;
  width: 640px;
}

/* コンタクトアイコン */
.icons{
  display: flex;
  position: relative;
  left: 84px;
  top: 120px;

}

.arrow{
  text-align: center;
  position: relative;
  top: 90px;
  clear: both;
}



/* フッター */
.footer{
  box-shadow: 0px -3px 5px 1px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 127px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.footer_logo{
  font-family: 'Noto Sans JP';
  font-size: 20px;
  position: relative;
  top: 48px;
  right: 15px;
  color: #272525;
  margin: 0px;
  padding: 0px;
}
.stick{
  position: relative;
  top: 36px;
}
.icon{
  position: relative;
  top: 42px;
  left: 15.5px;
}
.icon1{
  position: relative;
  top: 42px;
  left: 25px;
}
.icon2{
  position: relative;
  top: 42px;
  left: 37.5px;
}
.icon3{
  position: relative;
  top: 42px;
  left: 50px;
}