@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900|Noto+Sans:400,400i,700,700i|Roboto:100,300,400,500,700,900&display=swap&subset=japanese');
body{
  background-color: white;
  height: 100%;
}
.wrap {
  overflow: hidden;
}
/* ヘッダー */
header {
  position: fixed;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.15);
  margin-top: 0px;
  margin-left: 0px;
  height: 80px;
  width: 100%;
  z-index: 900;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.logo{
  font-family: 'Noto Sans JP';
  font-weight: 900;
  font-size: 33px;
  margin-top: 20.5px;
  margin-left: 30px;
  color: #272525;
  text-decoration: none;
}

.hamburger {
  margin-right: 40px;
  margin-top: 27px;
  width: 30px; 
  height: 28px;
  cursor: pointer;
  z-index: 300;
}
.stick{
  position: absolute;
  left: 11px;
  width: 30px;
  height: 1.7px;
  background-color: #272525;
  z-index: 999;
}
.stick_1{
  top: 28px;
  right: 40px;
  left: auto;
  transition: all 0.7s;
}
.stick_2{
  width: 29.5px;
  top: 38px;
  right: 40.5px;
  left: auto;
  transition: all 0.5s;
}
.stick_3{
  top: 48px;
  right: 40px;
  left: auto;
  transition: all 0.7s;
}

/* グローバルナビ*/
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  cursor: pointer;
}

.global-nav {
  position: fixed;
  right: -1170px; 
  top: 0;
  width: 768px; 
  height: 100vh;
  padding-top: 40px;
  background-color: #272525;
  transition: all 0.8s;
  z-index: 200;
  overflow-y: auto; 
}
.global-nav__list {
  margin: 0;
  list-style: none;
  padding-top: 100px;
}
.global-nav__item {
  text-align: left;
  padding-left: 100px;
  padding-top: 50px;
}
.global-nav__item a {
  font-family: 'Noto Sans JP';
  font-size: 100px;
  font-weight: 900;
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all  0.7s ease;
}
.global-nav__item a:hover{
  color: #FFE67C;
}
.current_location a {
  color: #FFE67C;
}
/* nav-open付与後のcss */
.nav-open .global-nav {
  right: 0;
}
.nav-open .stick {
  background-color: white;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
/* 棒のアニメーション */
.nav-open .stick_1 {
  transform: rotate(45deg);
  top: 30px;
  margin-top: 10px;
}
.nav-open .stick_2 {
  width: 0;
  transform: rotate(45deg);
}
.nav-open .stick_3 {
  transform: rotate(-45deg);
  top: 30px;
  margin-top: 10px;
}


/* TOP */
.profile{
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 160px;
}
.Hello{
  font-size: 100px;
  font-family: 'Noto Sans JP';
  font-weight: 900;
  margin-top: 0px;
  margin-left: 115px;
  color: #272525;
}
.Face{
  width: auto;
  height: auto;
  float: right;
  margin-right: 129px;
  margin-top: -95px;
}
.Profession{
  margin-top: 49px;
  margin-left: 120px;
  font-size: 42px;
  font-family: 'YuGothic';
  font-weight: Medium;
  color: #272525;
}
.Self-intro{
  margin-top: 39px;
  margin-left: 120px;
  font-size: 25px;
  font-family: 'YuGothic';
  font-weight: Medium;
  color: #272525;
  line-height: 43px;
  width: 640px;
}

/* コンタクトアイコン */
.icons{
  height: 43px;
  display: flex;
  margin-left: 100px;
  margin-top: -18px;
}
.icon_1{
  padding-left: 5px;
}
.arrow{
  text-align: center;
  margin-top: 140px;
  margin-bottom: 76px;
  clear: both;
}
/* arrowのアニメーション */
.arrow {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0px, 10px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(0deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translate(0px, 10px);
    opacity: 0;
  }
}

/* コンテンツ */
.contents_1 {
  padding-top: 80px;
}
.contents{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.content{
  position: relative;
  width : calc(100% / 3) ;
  height : 320px;
}
.content img{
  width : 100%;
  height : 320px;
  object-fit: cover;
  position: absolute;
}
.overview{
  background-color: white;
  width: 250px;
  height: 160px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: all 1s;
  z-index: 300;
  position: absolute;
}
.overview h1{
  margin-top: 40px;
  font-size: 26px;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  letter-spacing: 0.08em;
  color: #272525;
  text-align: center;
}
.overview p{
  font-size: 18px;
  font-family: 'Roboto';
  margin-top: 25px;
  color: #272525;
  opacity: 0.8;
  text-align: center;
}
.view_wrapper{
  text-align: center;
}
.viewmore{
  font-family: 'Noto Sans JP';
  font-size: 20px;
  font-weight: 700;
  color: #272525;
  text-decoration: none;
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 45px;
  position: relative;
}
.viewmore::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.viewmore:hover::after {
  transform: scale(1, 1);
}
/* 画像にマウスオーバーした際のcss */
.mouse-over .overview{
  opacity: 1;
  visibility: visible;
}

/* 詳細ページのcss */
.title{
  font-family: 'Noto Sans JP';
  font-size: 33px;
  font-weight: 900;
  color: #272525;
  letter-spacing: 0.07em;
  margin-top: 110px;
  text-align: center;
  text-decoration: underline;
}
.subtitle{
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-top: 14px;
  color: #272525;
  opacity: 0.8;
  text-align: center;
}
.main_graphic{
  width: 700px;
  height: 400px;
  object-fit: contain;
}
.img_wrapper{
  margin-top: 18px;
  margin-bottom: 10px;
  text-align: center;
}
.work_intro{
font-family: 'YuGothic';
font-weight: Medium;
line-height: 33px;
text-align: left;
font-size: 18px;
color: #272525;
width: 550px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}
.class_document{
  color: #272525;
}

/* フッター */
footer{
  box-shadow: 0px -3px 5px 1px rgba(0, 0, 0, 0.15);
  height: 127px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3000;
}
.footer_logo{
  font-family: 'Noto Sans JP';
  font-size: 20px;
  font-weight: 900;
  margin-top: 53px;
  margin-right: 15px;
  color: #272525;
}
.stick_footer{
  margin-top: 36px;
}
.icon{
  margin-top: 42px;
  margin-left: 15.5px;
}
/* タブレットのcss */
@media screen and (max-width:1160px){
  .profile{
    padding-top: 160px;
  }
  .Hello{
    font-size: 80px;
    margin-top: 0px;
    margin-left: 92px;
    color: #272525;
  }
  .Face{
    margin-right: 50px;
    margin-top: -65px;
  }
  .Face img{
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
  .Profession{
    margin-top: 49px;
    margin-left: 97px;
    font-size: 30px;
    color: #272525;
  }
  .Self-intro{
    margin-top: 39px;
    margin-left: 99px;
    font-size: 20px;
    color: #272525;
    line-height: 43px;
    width: 640px;
  }
  
  /* コンタクトアイコン */
  .icons{
    margin-left: 84px;
    margin-top: -18px;
  }
  .arrow{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 106px;
    clear: both;
  }
  .overview{
    background-color: white;
    width: 200px;
    height: 110px;
  }
  .content{
    height : 280px;
  }
  .content img{
    height : 280px;
  }
  .overview h1{
    margin-top: 37px;
    font-size: 18px;
  }
  .overview p{
    font-size: 10px;
    margin-top: 10px;
  }
  .viewmore{
    font-size: 17px;
    margin-top: 28px;
    margin-bottom: 38px;
  }
  /* 詳細ページ */
  .title{
    font-size: 30px;
    letter-spacing: 0.07em;
    margin-top: 110px;
  }
  .subtitle{
    font-size: 17px;
    font-weight: 400;
    margin-top: 14px;
  }
  .main_graphic{
    width: 600px;
    height: 350px;
    margin-top: 18px;
    margin-bottom: 20px;
  }
  .work_intro{
  line-height: 30px;
  font-size: 18px;
  width: 580px;
  margin-bottom: 30px;
  }
  }
  /* スマホのcss */
  @media screen and (max-width:768px){
    /* ヘッダー */
    .logo{
      font-size: 24px;
      margin-top: 26px;
      margin-left: 30px;
    }
    .hamburger {
      margin-right: 38px;
      margin-top: 27px;
      width: 30px; 
      height: 28px;
    }
    .stick{
      position: absolute;
      left: 11px;
      width: 28px;
      height: 1.7px;
    }
    .stick_1{
      top: 28px;
      right: 38px;
      left: auto;
      transition: all 0.7s;
    }
    .stick_2{
      top: 38px;
      right: 38px;
      left: auto;
      transition: all 0.5s;
    }
    .stick_3{
      top: 48px;
      right: 38px;
      left: auto;
      transition: all 0.7s;
    }
    /* グローバルナビ */
    .black-bg {
      left: 0;
      top: 0;
      opacity: 0;
    }
    .global-nav {
      right: -1170px; 
      top: 0;
      width: 375px; 
      height: 100vh;
      padding-top: 40px;
    }
    .global-nav__list {
      margin: 0;
      padding-top: 100px;
    }
    .global-nav__item {
      padding-left: 43px;
      padding-top: 30px;
    }
    .global-nav__item a {
      font-size: 70px;
      display: block;
      text-decoration: none;
      color: white;
    }
    .current_location a {
      color: #FFE67C;
    }
    /* 棒のアニメーション */
    .nav-open .stick_1 {
      transform: rotate(45deg);
      top: 30px;
      margin-top: 10px;
    }
    .nav-open .stick_2 {
      width: 0;
      transform: rotate(45deg);
    }
    .nav-open .stick_3 {
      transform: rotate(-45deg);
      top: 30px;
      margin-top: 10px;
    }
    /* body */
    .profile{
      padding-top: 90px;
    }
    .Hello{
      height: 0px;
      text-align: center;
      font-size: 67px;
      letter-spacing: 0.06em;
      margin-top: 0px;
      margin-left: 10px;
      color: #272525;
      visibility: hidden;
    }
    .Face{
      margin-right: 0px;
      margin-left: 0px;
      margin-top: 20px;
      float: none;
      text-align: center;
    }
    .Face img{
      width: 220px;
      height: 220px;
      object-fit: cover;
    }
    .Profession{
      margin-top: 20px;
      margin-left: 0px;
      font-size: 25px;
      text-align: center;
      color: #272525;
    }
    .Self-intro{
      margin-top: 22px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      text-align: center;
      line-height: 25px;
      width: 88%;
    }
    
    /* コンタクトアイコン */
    .icons{
      margin-right: auto;
      margin-left: auto;
      margin-top: 45px;
      width: 209.5px;
    }
    .profile .icon{
        margin-top: 0px;
        margin-left: 15.5px;
    }
    .profile .icon img{
      width: 33px;
      height: 33px;
    }
    .arrow{
      text-align: center;
      margin-top: 60px;
      margin-bottom: 149px;
      clear: both;
    }
    .overview{
      background-color: white;
      width: 200px;
      height: 110px;
    }
    .content{
      height : 280px;
      width : 100%;
    }
    .content img{
      height : 280px;
    }
    .overview h1{
      margin-top: 37px;
      font-size: 18px;
    }
    .overview p{
      font-size: 10px;
      margin-top: 10px;
    }
    .viewmore{
      font-size: 17px;
      margin-top: 28px;
      margin-bottom: 38px;
    }
    /* 詳細ページ */
    .title{
      font-size: 25px;
      letter-spacing: 0.08em;
      margin-top: 105px;
    }
    .subtitle{
      font-size: 15px;
      font-weight: 400;
      margin-top: 10px;
    }
    .main_graphic{
      height: auto;
      width: 80%;
      margin-top: 0;
      margin-bottom: 0;
    }
    .img_wrapper{
      margin-top: 10px;
      margin-bottom: 0px;
      text-align: center;
    }
    .work_intro{
      margin-top: 15px;
      line-height: 18px;
      font-size: 12px;
      width: 80%;
      margin-bottom: 70px;
    }
    /* フッター */
  footer{
    height: 88px;
    width: 100%;
  }
  .footer_logo{
    font-size: 17px;
    margin-top: 32px;
    margin-right: 15px;
  }
  .stick_footer{
    margin-top: 21px;
  }
  .stick_footer img{
    height: 45px;
    width: 2px;
    object-fit: fill;
  }
  footer .icon{
    width: 33px;
    height: 36px;
    margin-top: 28.4px;
    margin-left: 8px;
  }
  footer .icon img{
    width: 28px;
    height: 28px;
  }
    }
    